:root{
  --purple50: #EDE7F6;
  --purple100: #D1C4E9;
  --purple200: #B39DDB;
  --purple400: #7E57C2;
  --purple800: #4527A0;
  --white-color: hsl(0deg 0% 100%);
  --Black30: hsl(0deg 0% 18.82%);
  --Black2B: hsl(0deg 0% 16.86%);
  --Black77: hsl(0deg 0% 46.67%);

  
  
  box-sizing: border-box;

  font-size: calc(1vw + 0.6em);
}

*::before,
*::after{
    box-sizing: inherit;

}

body{
    color: var(--Black77);
    height: 1000px;
    margin: 0;
    font-family: 'Poppins', sans-serif;


}